body
{
    margin: auto;
    max-width: 500px;
}

.account
{
    border: 4mm ridge rgba(17, 140, 79, .6);
    padding: 20px;
    margin-bottom: 10px;
}

.account button
{
    margin: 10px;
}

.account ul
{
    margin-bottom: 35px;
}
