<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<h1 class="text-center mt-5 mb-4">Your Account Info</h1>
				<form action="/Monthly Income" method="post">
                    
	
					<div class="mb-3">
						Update your Monthly Income:
						<input type="number" id="monthlyIncomeAmount" name="monthlyIncome Amount" class="form-control form-control-lg" 
                            placeholder="Monthly Income Amount">
					</div>
                    <div class="mb-3">
                        <!-- Submit button -->
                        
                        <div class="d-grid gap-2">
                            <input class="btn btn-primary" type="submit" value="ENTER"></input>
                        </div>
                    </div>
                </form>
                <form action="/Income" method="post">
                    <div class="mb-3">
						Add any additional balance to your Account:
                        <input type="text" id="income" name="income" class="form-control form-control-lg" 
                            placeholder="Income">
						<input type="number" id="incomeAmount" name="incomeAmount" class="form-control form-control-lg" 
                            placeholder="Amount">
					</div>
                    <div class="mb-3">
                        <!-- Submit button -->
                        
                        <div class="d-grid gap-2">
                            <input class="btn btn-primary" type="submit" value="ENTER"></input>
                        </div>
                    </div>
                </form>
                <form action="/monthlyExpenses" method="post">
                    <div class="mb-3">
                        Enter each of your Monthly Expenses ($/month):
						<input type="text" id="expense" name="expense" class="form-control form-control-lg" 
                            placeholder="Monthly Expense">

						<input type="number" id="expenseAmount" name="expenseAmount" class="form-control form-control-lg" 
                            placeholder="Amount">
					</div>
					
					<div class="mb-3">
					<!-- Submit button -->
                    
                    <div class="d-grid gap-2">
                        <input class="btn btn-primary" type="submit" value="ENTER"></input>
                    </div>
                </form>
                <form action="/expenses" method="post">
                    <div class="mb-3">
						Add the value of any additional one time expense:
						<input type="number" id="incomeAmount" name="incomeAmount" class="form-control form-control-lg" 
                            placeholder="Expense Amount">
					</div>
                    <div class="mb-3">
                        <!-- Submit button -->
                        
                        <div class="d-grid gap-2">
                            <input class="btn btn-primary" type="submit" value="ENTER"></input>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <h2>Your Balance:</h2>
    <p></p>
    <h2>Estimated Monthly Savings (Income - Expenses):</h2>
    <p></p>
    <h2>Your Income</h2>
    <ul>
    
            <li th:text="user:${income}"></li>

    </ul>
    <h2>Your Expenses</h2>
    <ul>
        
            <li th:each="user:${expenses}"></li>
        
    </ul>
</body>
</html>