<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Account Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="account.css">
    <script src='main.js'></script>
</head>
<body>

    <header>
        <h1>Your Account Info</h1>
    </header>

    <div class="calculator">

        <form action="/Monthly Income" method="post">
            <div>
                Update your Monthly Income: 
                <input type="number" id="monthlyIncomeAmount" name="monthlyIncome Amount" class="form-control form-control-lg" 
                    placeholder="Monthly Income Amount">
                <input type="submit" value="ENTER"></input>
            </div>
        </form>

        <form action="/Income" method="post">
            <div>
                Add any additional balance to your Account: 
                <input type="text" id="income" name="income" class="form-control form-control-lg" 
                    placeholder="Income">
                <input type="number" id="incomeAmount" name="incomeAmount" class="form-control form-control-lg" 
                    placeholder="Amount">
                <input type="submit" value="ENTER"></input>
            </div>
        </form>

        <form action="/monthlyExpenses" method="post">
            <div>
                Enter each of your Monthly Expenses ($/month): 
                <input type="text" id="expense" name="expense" class="form-control form-control-lg" 
                    placeholder="Monthly Expense">
                <input type="number" id="expenseAmount" name="expenseAmount" class="form-control form-control-lg" 
                    placeholder="Amount">
                <input class="btn btn-primary" type="submit" value="ENTER"></input>
            </div>
        </form>
        <form action="/expenses" method="post">
            <div>
                Add the value of any additional one time expense: 
                <input type="number" id="incomeAmount" name="incomeAmount" class="form-control form-control-lg" 
                    placeholder="Expense Amount">
                <input class="btn btn-primary" type="submit" value="ENTER"></input>
            </div>
        </form>
    </div>
    
    <div class="summary">
        <h3>Your Balance:</h3>
        <!-- <p></p> -->
        <h3>Estimated Monthly Savings (Income - Expenses):</h3>
        <!-- <p></p> -->
        <h3>Your Income</h3>
        <ul>
            <li th:text="user:${income}"></li>
        </ul>
        <h3>Your Expenses</h3>
        <ul>
            <li th:each="user:${expenses}"></li>
        </ul>
    </div>

</body>
</html>
