body
{
    margin: auto;
    max-width: 500px;
}

.container
{
  border: 4mm ridge rgba(17, 140, 79, .6);
  padding: 20px;
}

#result
{
  margin-top: 40px;
}

.input-wrapper .wrapper, .time-wrapper
{
  margin: 10px;
}
