<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <button type = "button" onclick="location.href = '/updateBalance.html'">Click to Update Balance</button><br>
    <button type = "button" onclick="location.href = '/login'"> Return to Home</button>
    <ul>
        <li th:each="user:${us}">
            <h3>Your Balance:</h3>
            <p th:text="${user.balance}"></p><br>
            
            <h3>Your Monthly Income:</h3>
            <p th:text="${user.monthlyincome}"></p>
           
        </li>
    </ul>
    <ul>
        <h3>Your Transactions</h3>
        <li th:each="transaction:${ts}">
            
            
            
            <p th:text="${transaction.date}"></p><br>
            <p th:text="${transaction.reason}"></p><br>
            <p th:text="${transaction.amount}"></p><br>
            
        </li>
    </ul>
    
</body>
</html>