<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Account Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href="../../static/account.css">
    <script src='main.js'></script>
</head>
<body>
    <button type = "button" onclick="location.href = '/updateBalance.html'">Click to Update Balance</button><br>
    <button type = "button" onclick="location.href = '/login'"> Return to Home</button>
    <ul>
        <li th:each="user:${us}">
            <h3>Your Balance:</h3>
            <p th:text="${user.balance}"></p>
            <h3>Your Monthly Income:</h3>
            <p th:text="${user.monthlyincome}"></p>
           
        </li>
    </ul>
    <ul>
        <h3>Your Monthly Savings(Monthly Income - Monthly Expenses)</h3>
        <li th:each="expense:${es}">
            <p>Reason: <span th:text="${expense.reason}"></span>
                , Amount:$<span th:text="${expense.amount}"></span>
            </p>
                
        </li>
    </ul>
    <ul>
        <h3>Your Transactions</h3>
        <li th:each="transaction:${ts}">
            <p>Date: <span th:text="${transaction.date}"></span>
                , Reason: <span th:text="${transaction.reason}" ></span>
                , Amount: <span th:text="${transaction.amount}"></span>
                , Type: <span th:text="${transaction.type}"></span>
            
            </p>
        
        </li>
    </ul>
    
</body>
</html>
