<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
    <header>
        <h1>Stock Buddy</h1>
    </header>

    <div class="Tabs">
        <nav>
            <ul>
                <li><a><button type = "button" onclick="location.href = '/checkBalance'"> Account</button></a></li>
                <li><a><button type = "button" onclick="location.href = '/interestCalc.html'"> Tools </button></a></li>
                <li><a><button type = "button" onclick="location.href = '/news'"> News</button></a></li>
                <li><a><button type = "button" onclick="location.href = '/stocks.html'"> Stocks</button></a></li>
                <li><a><button type = "button" onclick="location.href = '/logout'"> Log out</button></a></li>
                
            </ul>
        </nav>
    </div>
   
    <div class="grid-container">
        <section class="CurrentCumulativeTotal" >
            <h4>Current Cumulative Total: </h4>
            <p th:text="${user.balance}"></p>
        </section>

        <section class="Goals" >
            
            <button type = "button" onclick="location.href = '/goals.html'"><h4>Goals</h4></button><br>
            <tr th:each="goals:${gs}">
                <td th:text="${'Item:' + goals.item}"></td>
                <td th:text="${'Cost:'+ goals.amount}"></td>
                <td th:text="${'Estimated time until goal is reached (months):'+ goals.time}"></td>
            </tr>
          
        </section>
        <p>Test</p>
        
        <section class="MajorHeadlines">
            <h4>Major Headlines</h4>
        </section>

        <section class="Stock">
            <h4>Stocks</h4>
        </section>

        <section class="MonthlyBalance"  >
            <h4>Monthly Balance:</h4>
            <p th:text="${user.monthlysavings}"></p>
        </div>
    </div>

    <!-- for help, contact, copyright -->
    <div class="Footer">
        <nav>
            <ul>
                <li><a><button type = "button" onclick="location.href = '/help.html'">Help</button></a></li>
                <li><a><button type = "button" onclick="location.href = '/contacts.html'">Contact</button></a></li>
                <li><a><button type = "button" onclick="location.href ='/privacypolicy.html'">Privacy Policy</button></a></li>
                <li><a>©️ 2023 Summer CMPT276 D200 Group 9</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
