<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
    <header>
        <h1>Stock Buddy</h1>
    </header>

    <div class="Tabs">
        <nav>
            <ul>
                <li><a><button type = "button" onclick="location.href = '/checkBalance'"> Account</button></a></li>
                <li><a><button type = "button" onclick="location.href = '/interestCalc.html'"> Tools </button></a></li>
                <li><a><button type = "button" onclick="location.href = '/news'"> News</button></a></li>
                <li><a><button type = "button" onclick="location.href = '/stocks.html'"> Stocks</button></a></li>
                <li><a><button type = "button" onclick="location.href = '/logout'"> Log out</button></a></li>
                
            </ul>
        </nav>
    </div>
    <a class="twitter-timeline" href="https://twitter.com/StockBuddySFU?ref_src=twsrc%5Etfw">Tweets by StockBuddySFU</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <div class="grid-container">
        <section class="CurrentCumulativeTotal" >
            <h4>Current Cumulative Total: </h4>
            <p th:text="${'$'+ user.balance}"></p>
            <p>Interested in Growing Your Wealth?</p>
            <p>Use our <button class="innerButton" type = "button" onclick="location.href = '/interestCalc.html'">Interest Calculator</button> to consider your growing your wealth by putting money in a Savings Account or GIC </p>
            <p><button class="innerButton" type = "button" onclick="location.href = '/stocks.html'">Click Here</button> to purchase stocks</p>


        </section>

        <section class="Goals" >
            
            <button class="innerButtonHeader" type = "button" onclick="location.href = '/goals.html'"><h4>Goals</h4></button><br>
            <table>
                <tr>
                    <th>Item:</th>
                    <th>Cost:</th>
                    <th>Estimated time until goal is reached (months):</th>
                </tr>
                <tr th:each="goals:${gs}">
                    <td th:text="${goals.item}"></td>
                    <td th:text="${'$' + goals.amount}"></td>
                    <td th:text="${goals.time}"></td>
                    <td>
                        <form th:action="@{/deleteGoal/{gid}(gid=${goals.gid})}" method="get">
                            <input class="btn btn-primary" type="submit" value="REMOVE"></input>
                        </form>
                    </td>
                </tr>
           </table>
        </section>
        
        <section class="MajorHeadlines">
            <h4>Major Headlines</h4>

            <h2 th:text="${article.title}"></h2>
            
            <p><strong>Author:</strong> <span th:text="${article.author}"></span></p>
        
            <p><strong>Source:</strong> <span th:text="${article.source.name}"></span></p>
        
            <p th:text="${article.description}"></p>
        
            <p><strong>URL:</strong> <a th:href="${article.url}" th:text="link" th:target="_blank"></a></p>
            
            <p><strong>Published At:</strong> <span th:text="${article.publishedAt}"></span></p>
            
        </section>

        <section class="Stock">
            <h4>Stocks</h4>
        </section>

        <section class="MonthlyBalance"  >
            <h4>Monthly Balance:</h4>
            <p th:text="${'$' + user.monthlysavings}"></p>
        </div>
    </div>

    <!-- for help, contact, copyright -->
    <div class="Footer">
        <nav>
            <ul>
                <li><a><button type = "button" onclick="location.href = '/help.html'">Help</button></a></li>
                <li><a><button type = "button" onclick="location.href = '/contacts.html'">Contact</button></a></li>
                <li><a><button type = "button" onclick="location.href ='/privacypolicy.html'">Privacy Policy</button></a></li>
                <li><a>©️ 2023 Summer CMPT276 D200 Group 9</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
