<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Portfolio Page</title>

    <style>
        body
        {
            margin: auto;
            max-width: 900px;
        }

        h1
        {
            color: gold;
            font-size: 40px;
            -webkit-text-stroke: 1px black;
        }

        .portfolio
        {
            border: 4mm ridge rgba(17, 140, 79, .6);
            padding: 20px;
            text-align: center;
        }

        

    </style>
</head>
<body>

    <h1>Portfolio</h1>

    <div class="portfolio">
        <table>
            <thead>
                <tr>
                    <th>Stock Symbol</th>
                    <th>Purchase Price</th>
                    <th>Current Price</th>
                    <th>Quantity</th>
                    <th>Profit/Loss</th>
                    <th>High Price</th>
                    <th>Low Price</th>
                    <th>Open Price</th>
                    <th>Previous Close Price</th>
                    <th>Day's Price Change</th>
                    <th>Headline News</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${portfolioItems}">
                    <td th:text="${item.stock.symbol}"></td>
                    <td th:text="${item.stock.purchasePrice}"></td>
                    <td th:text="${item.quote.c}"></td>
                    <td th:text="${item.stock.quantity}"></td>
                    <td th:text="${(item.quote.c - item.stock.purchasePrice) * item.stock.quantity}"></td>
                    <td th:text="${item.quote.h}"></td>
                    <td th:text="${item.quote.l}"></td>
                    <td th:text="${item.quote.o}"></td>
                    <td th:text="${item.quote.pc}"></td>
                    <td th:text="${item.quote.dp}"></td>
                    <td th:text="${item.news[0].headline}"></td> <!-- Display the first news headline -->
                    <td>
                        <form th:action="@{'/' + ${item.stock.id} + '/' + ${item.stock.symbol}}" method="POST">
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit">Delete</button>
                        </form>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
